<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <script src="../fengmap.map.min.js"></script>
  <script>
    // var lat2 = {
    //   x: 104.037045,
    //   y: 30.705907
    // }
    // var latlngToMap2 = fengmap.FMCalculator.latlngToMapCoordinate(lat2);
    // console.log(latlngToMap2, '###');
    // console.log(latlngToMap2);


  </script>
</body>

</html>